$primary: #0078D4;
$secondary: #FFFFFF;
$tertiary: #F26322;
$white: #FFFFFF;
$whiteDark: #B2B2B2;
$dark: #000000;
$pink: #EC008C;
$pinkLight: #F173AC;
$cyan: #00B098;
$grayLight: #F9F6F6;
$gray: #F2F2F7;
$grayDark: #A7A7A7;
$dimGray: #62626280;
$input: #EBEBEB;
$grayMedium: #444444;
$blue: #1aa2dd;
$lightBlue: #41B6E6;
$border: #DEDEDE;
$success: #2CB34A;
$greenTitle: #338720;
$greenContainer: #43B02A;
$error: #EE3124;
$title: #000000;
$veryDarkViolet: #3C1053;
$successLight: #94c93d;
$primaryLight: #fbf9f6;

$nano: 10px;
$xnano: 12px;
$xxnano: 14px;
$small: 16px;
$xsmall: 18px;
$medium: 20px;
$large: 24px;
$xlarge: 32px;
$xxlarge: 40px;
$huge: 48px;
$big: 134px;